.container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}

span {
  color: #616161;
}

.settingsTitle {
  text-align: left;
  width: 100%;
}

.border {
  width: 100%;
}

/* モーダルアニメーション定義 */
.Modal-show-enter {
  opacity: 0;
  transform: scale(0.75);
}

.Modal-show-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: 0.2s cubic-bezier(0, 0.67, 0.11, 0.97);
}

.Modal-show-exit-active {
  opacity: 0;
  transform: scale(0.75);
  transition: 0.2s;
}

/* 月 */
.month {
  height: fit-content;
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: #757575;
  font-size: 20px;
  margin-bottom: 40px;
}

.switchMonthButton {
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  width: 50px;
}

.switchMonthButton:hover {
  transform: scale(130%);
  transition: 0.25s;
}

.dataNotFound {
  /* Boxデザイン */
  width: 80%;
  min-width: 630px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #afb3b3, -5px -5px 20px #ffffff;
  padding: 40px;
  /* 配置 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 文字色 */
  color: #616161;
  font-size: 18px;
}
