.loginPage {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 8%;
  background: linear-gradient(to right, #76d5ff, #64b5f6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputWindow {
  border-radius: 15px;
  background: #fafafa;
  box-shadow: 17px 17px 43px #397ea4, -17px -17px 43px #63daff;
  width: 400px;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.inputArea {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner {
  position: fixed;
  bottom: 0;
  left: 50%;
}
