/* 月 */
.month {
  height: fit-content;
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: #757575;
  font-size: 20px;
  padding-bottom: 20px;
}

.switchMonthButton {
  border-radius: 10px;
  padding: 5px;
  transition: 0.25s;
  cursor: pointer;
  width: 50px;
}

.switchMonthButton:hover {
  background-color: #eceff1;
  transform: scale(130%);
  transition: 0.25s;
}

/* 変動費合計 */
.monthlyVariableTitleArea {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  font-size: 32px;
}

.monthlyVariableTitleArea :first-child {
  margin-right: 30px;
  color: #616161;
}

.monthlyVariableTitleArea :last-child {
  color: #616161;
}

/* 変動費データ */
.variableDataArea {
  width: 100%;
  height: 200px;
  background-color: azure;
}
