/* 変動費合計 */
.monthlyFixedTitleArea {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  font-size: 32px;
}

.monthlyFixedTitleArea :first-child {
  margin-right: 30px;
  color: #616161;
}

/* 固定費データ */
.fixedDataArea {
  width: 100%;
}

/* 合計値 */
.totalValueArea {
  width: 97%;
}

.totalValue {
  display: flex;
  justify-content: space-between;
}
