.resetPasswordCard {
  border-radius: 15px;
  background: #fafafa;
  box-shadow: 20px 20px 60px #d5d9d9, -20px -20px 60px #ffffff;
  width: 400px;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 20px;
}
