/* 金額 */
.monthlyTotalSaving {
  display: flex;
  width: 80%;
  height: fit-content;
  font-size: 25px;
  color: #424242;
  padding-top: 20px;
  padding-bottom: 20px;
}

.totalSavingAmount {
  color: #1b5e20;
  padding-left: 15px;
}

/* 貯金明細 */
.savingList {
  height: fit-content;
  width: 70%;
}

.addSavingArea {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
