/* 金額 */
.monthlyTotalSaving {
  display: flex;
  width: 80%;
  height: fit-content;
  font-size: 25px;
  color: #424242;
  padding-top: 20px;
  padding-bottom: 20px;
}

.totalSavingAmount {
  color: #1b5e20;
  padding-left: 15px;
}

/* 貯金明細 */
.savingList {
  height: fit-content;
  width: 70%;
}

.addSavingArea {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.loading {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
}

.loadingSavingData {
  width: 70%;
  height: 50px;
  background-color: #eeeeee;
  margin-bottom: 2px;
}

.loading::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #fafafa;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;

  animation-name: shine;
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-50%) scaleX(0);
    opacity: 0;
  }
  70% {
    transform: translateX(-50%) scaleX(1.5);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scaleX(3);
    opacity: 0;
  }
}
