/* 共通 */
.containerBox p {
  color: #757575;
  margin-bottom: 5px;
  font-size: 20px;
}

.containerBox hr {
  border-top: 1px solid;
  color: #757575;
}

/* ユーザー設定変更 */
.emailBox {
  display: flex;
  padding: 30px;
}

.emailBox span {
  min-width: 150px;
  margin-right: 15px;
}

.userSettingsButtons {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

/* パスワード変更 */
.passwordBox {
  display: flex;
  padding: 30px;
}

.passwordBox span {
  min-width: 150px;
  margin-right: 15px;
}

.passwordSettingsButtons {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

/* 固定費の編集 */
.fixedListArea {
  padding: 10px;
  width: 100%;
  height: fit-content;
  margin-top: 15px;
}

.fixedData {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* カテゴリデータ */
.categoryData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 40px;
}

/* 取引名 */
.transactionNameData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 40px;
  position: relative;
}

.transactionNameData span {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 0;
}

.fixedAmountData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 40px;
  position: relative;
}

.fixedAmountData span {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 0;
}

/* 振替日 */
.transferDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 40px;
  position: relative;
  color: #757575;
}

.transferDate span {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 0;
}

.switchBalanceArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 40px;
  position: relative;
}

.deleteArea {
  width: 7%;
  height: 40px;
}

/* 追加ボタン */
.addArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixedSettingsButtons {
  display: flex;
  width: 180px;
  justify-content: space-between;
}
