.totalSavingTitleArea {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  font-size: 32px;
}

.totalSavingTitleArea :first-child {
  color: #616161;
  margin-right: 30px;
}

.totalSavingTitleArea :last-child {
  color: #1b5e20;
}

.lineChartArea {
  width: 100%;
  margin-bottom: 50px;
}

.savingTargetCardArea {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.addSavingTargetButton {
  color: #bebebe;
  cursor: pointer;
  margin-top: 20px;
}

.addSavingTargetButton:hover {
  color: #424242;
  transform: scale(1.2);
  transition: 0.25s;
}

.uncategorizedSavingCard {
  transition: 0.25s;
  cursor: pointer;
}

.uncategorizedSavingCard:hover {
  transform: scale(1.03);
}

.uncategorizedSavingCardArea {
  width: 100%;
}
