.modal-window {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 50%;
  min-width: 500px;
  max-width: 700px;
  min-height: 600px;
  max-height: 650px;
  background-color: #ffffff;
  padding: 20px 100px;
  text-align: center;
  display: relative;
}

.input-span {
  display: block;
  text-align: left;
  font-size: 12px;
}

/* 日付 */
.input-date-box {
  width: 80%;
  min-width: 350px;
  margin: 20px auto;
}

.date-group {
  display: flex;
  justify-content: center;
}

/* 名称 */
.input-name-box {
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}

/* 貯金額 */
.amount-group {
  padding: 0;
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}

.saving-amount {
  display: flex;
  align-items: flex-end;
}

/* 振り分け選択 */
.distribution-group {
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}
