.mini-modal-window {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 50%;
  min-width: 500px;
  max-width: 700px;
  height: 350px;
  background-color: #ffffff;
  padding: 20px 100px;
  text-align: center;
  display: relative;
}

/* 目標名称 */
.input-name-box {
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}

/* 目標金額 */
.amount-group {
  padding: 0;
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}

.target-amount {
  display: flex;
  align-items: flex-end;
}
