.categoryGroup {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.subCategoryGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subCategoryData {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.subCategoryData span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text {
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
