.householdBudgetButton {
  position: relative;
  width: 130px;
  text-align: right;
  overflow: hidden;
  border-radius: 24px;
  cursor: pointer;
}

.householdBudgetButton:hover .textArea {
  transform: none;
  opacity: 1;
}

.textArea {
  position: absolute;
  background-color: #757575;
  height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 24px;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.25s;
}

.textStyle {
  color: #ffffff;
  margin-left: 20px;
  font-size: 24px;
}
