span {
  color: #a9a9a9;
}

.modal-title {
  padding-top: 50px;
  color: #8b8b8b;
  font-weight: lighter;
}

.modal-window {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 50%;
  min-width: 500px;
  max-width: 700px;
  min-height: 600px;
  max-height: 650px;
  background-color: #ffffff;
  padding: 20px 100px;
  text-align: center;
  display: relative;
}

.close-button {
  position: absolute;
  display: block;
  right: 15px;
  top: 15px;
}

.input-span {
  display: block;
  text-align: left;
  font-size: 12px;
}

/* 日付 */
.input-date-box {
  width: 80%;
  min-width: 350px;
  margin: 20px auto;
}

.date-group {
  display: flex;
  align-items: center;
}

/* 金額 */
.input-amount-box {
  display: flex;
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
  align-items: center;
}

.input-amount {
  align-items: center;
  display: flex;
}

.amount-group {
  padding-left: 20px;
}

/* 取引名 */
.input-transaction-box {
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}

/* カテゴリ */
.category-box {
  border-bottom: solid 1.5px #a9a9a9;
  text-align: right;
  transition: background-color 0.25s;
  cursor: pointer;
}

.input-category-box {
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}

.category-box:hover {
  background-color: #e9e8e859;
  border-radius: 5px;
  transition: 0.25s;
}

.category-box:hover span {
  transform: translateX(10px);
}

.category-box span {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px;
  transition: 0.25s;
}

/* 固定費チェック */
.fixed-check-box {
  justify-content: center;
  margin-bottom: 20px;
}
