.fixedData {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;
  margin-bottom: 10px;
  padding-top: 10px;
}

.fixedData:hover {
  background-color: #fafafa;
  border-radius: 5px;
}

/* カテゴリ・サブカテゴリ */
.categoryData {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
  height: 40px;
}

/* 取引名 */
.transactionNameData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 40px;
  position: relative;
}

.transactionNameData span {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 0;
}

/* 金額 */
.fixedAmountData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 40px;
  position: relative;
}

.fixedAmountData span {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 0;
}

/* 振替日 */
.transferDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 40px;
  position: relative;
  color: #757575;
}

.transferDate span {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 0;
}

/* 収支ボタン */
.switchBalanceArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 40px;
  position: relative;
}

/* 削除 */
.deleteArea {
  width: 5%;
  height: 40px;
  transition: 0.25s;
  opacity: 0;
}

.fixedData:hover .deleteArea {
  opacity: 1;
}
