.selectArea {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.colorBox {
  min-width: 45px;
  min-height: 45px;
  box-shadow: 0px 0px 15px 0px #bdbdbd;
  margin: 1%;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.25s;
}

.colorBox:hover {
  transform: scale(1.2);
}

.gradientColorBox {
  min-width: 45px;
  min-height: 45px;
  box-shadow: 0px 0px 15px 0px #bdbdbd;
  margin: 1%;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.25s;
}

.gradientColorBox:hover {
  transform: scale(1.2);
}
