.inquiryArea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.inquiryTextfield {
  width: 90%;
}

.inquiryButton {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
