.transactionData {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #616161;
  list-style: none;
  border-bottom: #757575 solid 1px;
  cursor: pointer;
  transition: 0.25s;
}

.transactionData:hover {
  background-color: #eceff1;
  transform: translateX(5px);
  border-radius: 5px;
}

.transactionDate {
  width: 10%;
}
.transactionCategory {
  width: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.transactionName {
  width: 32%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.transactionAmount {
  width: 32%;
  text-align: center;
}
.transactionData span {
  width: 6%;
}
