.uncategorizedSavingCard {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  max-width: 350px;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 5px 5px 20px #afb3b3, -5px -5px 20px #ffffff;
}

.uncategorizedSavingCard span {
  user-select: none;
}

.uncategorizedSavingCard:hover {
  transform: scale(1.03);
}

.uncategorizedSavingCard span:first-child {
  margin-right: 20px;
}

.uncategorizedSavingCard span {
  color: #616161;
}

.edit-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  color: #757575;
}
