.uncategorizedSavingCard {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #424242;
  position: relative;
  background-color: #ffff;
  max-width: 350px;
  transition: 0.25s;
  cursor: pointer;
}
.uncategorizedSavingCard:hover {
  transform: scale(1.03);
}

.uncategorizedSavingCard span:first-child {
  margin-right: 20px;
}

.uncategorizedSavingCard span {
  color: #212121;
}

.edit-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ffff;
  border-radius: 50%;
  color: #757575;
}
