.forgotPasswordWindow {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 40%;
  min-width: 320px;
  max-width: 700px;
  min-height: 450px;
  max-height: 400px;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

.forgotPasswordTitle {
  color: #424242;
  font-weight: lighter;
}
