.signupWindow {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 40%;
  min-width: 500px;
  max-width: 700px;
  min-height: 450px;
  max-height: 400px;
  background-color: #ffffff;
  padding: 20px 100px;
  text-align: center;
  display: relative;
  border-radius: 15px;
}

.signupTitle {
  padding-top: 40px;
  color: #424242;
  font-weight: lighter;
}

.showIcon :hover {
  cursor: pointer;
}
