.signupWindow {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 40%;
  min-width: 320px;
  max-width: 700px;
  min-height: 450px;
  max-height: 400px;
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}

.signupTitle {
  color: #424242;
  font-weight: lighter;
}

.showIcon :hover {
  cursor: pointer;
}
