@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

html {
  height: 100%;
  background-color: #faffff;
}

body {
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

.main {
  height: 100%;
  align-items: flex-start;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

/* バナー */
.bannerArea {
  position: fixed;
  bottom: 0;
}
