html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background: #76d5ff;
  float: left;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .heading {
  font-size: 25px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #94deff;
  transition: 0.15s;
}

.SidebarList #active {
  background-color: #94deff;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: 100px;
}

.SidebarIcon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.homeArea {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
