<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryMapper">

	<!-- カテゴリ一覧の取得 -->
	<resultMap type="com.example.domain.Category" id="categoryMap">
		<id column="category_id" property="categoryId" />
		<result column="category_name" property="categoryName" />
	</resultMap>

	<select id="getCategoryList" resultMap="categoryMap">
		SELECT
			category_id,
			category_name
		FROM
			category;
	</select>
	
	<!-- カテゴリ・サブカテゴリの取得 -->
	<select id="getCategoryWithSubCategory" resultType="com.example.domain.Category">
		SELECT
			c.category_id,
			c.category_name,
			sc.sub_category_id,
			sc.sub_category_name,
			sc.user_no
		FROM category c
		INNER JOIN sub_category sc ON c.category_id = sc.category_id
		WHERE c.category_id = #{categoryId}
		AND sc.user_no IN (1, #{userNo});
	</select>

</mapper>