<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SavingTargetMapper">

	<resultMap type="com.example.domain.SavingTarget" id="savingTargetMap">
		<id column="saving_target_id" property="savingTargetId" />
		<result column="saving_target_name" property="savingTargetName" />
		<result column="target_amount" property="targetAmount" />
	</resultMap>
	
	<!-- 貯金目標一覧の取得 -->
		<select id="getSavingTargetList" resultMap="savingTargetMap">
		SELECT
			saving_target_id,
			saving_target_name,
			target_amount
		FROM
			saving_target
		WHERE 
		 	user_no = #{userNo}
		AND
			delete_flg = false
	</select>
	
	
	<select id="findSavingTargetByIdAndUserNo" resultType="com.example.domain.SavingTarget">
		SELECT
			saving_target_id,
			saving_target_name
		FROM
			saving_target
		WHERE user_no IN (#{userNo}, 1)
		AND saving_target_id = #{savingTargetId};
	</select>
	
	<select id="findSavingTargetByNameAndUserNo" resultType="com.example.domain.SavingTarget">
		SELECT
			saving_target_id,
			saving_target_name,
			target_amount
		FROM
			saving_target
		WHERE user_no IN (#{userNo}, 1)
		AND saving_target_name = #{savingTargetName};
	</select>

	<!-- 貯金目標を新規追加してIDをリターン -->
	<insert id="addSavingTarget"
		parameterType="com.example.domain.SavingTarget"
		useGeneratedKeys="true" keyProperty="savingTargetId">
		INSERT INTO
		saving_target(
			user_no,
			saving_target_name,
			target_amount,
			delete_flg
		)
		VALUES(
			#{userNo},
			#{savingTargetName},
			#{targetAmount},
			false
		);
	</insert>
	
	<!-- 貯金目標の編集 -->
	<update id="editSavingTarget">
		UPDATE
			saving_target
		<set>
			<if test="savingTargetName != null">saving_target_name = #{savingTargetName},</if>
			<if test="targetAmount != null">target_amount = #{targetAmount}</if>
		</set>
		WHERE 
			saving_target_id = #{savingTargetId} 
		AND 
			user_no = #{userNo} ;
	</update>
		
</mapper>