<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TransactionMapper">

	<!-- 収支を登録 -->
	<insert id="addTransaction"
		parameterType="com.example.form.AddTransactionForm">
		INSERT INTO
		transaction(
			user_no,
			transaction_name,
			transaction_amount,
			transaction_date,
			category_id,
			sub_category_id,
			fixed_flg
		)
		VALUES(
			#{userNo},
			#{transactionName},
			#{transactionAmount},
			#{transactionDate},
			#{categoryId},
			#{subCategoryId},
			#{fixedFlg}
		);
	</insert>
	
	<!-- 収支を削除 -->
	<delete id="deleteTransaction" parameterType="com.example.form.DeleteTransactionForm">
		DELETE FROM 
			transaction
		WHERE
			transaction_id = #{transactionId} AND user_no = #{userNo};
	</delete>
	
	<!-- 収支詳細の取得 -->
	<select id="getTransaction" resultType="com.example.domain.Transaction">
		SELECT
			t.transaction_date,
			t.transaction_name,
			t.transaction_amount, 
			t.category_id,
			c.category_name,
			t.sub_category_id,
			sc.sub_category_name,
			t.fixed_flg
		FROM
			transaction t
		INNER JOIN category c ON c.category_id = t.category_id
		INNER JOIN sub_category sc ON sc.sub_category_id = t.sub_category_id
		WHERE t.user_no = #{userNo} AND t.transaction_id = #{transactionId};
	</select>
	
		
</mapper>